In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("RAM").getOrCreate()
df =[("RAM",20,"cse"),("DK",20,"ece")]
data= ["NAME","AGE","dept"]
spark_df=spark.createDataFrame(df,schema=data)
spark_df.show()

+----+---+----+
|NAME|AGE|dept|
+----+---+----+
| RAM| 20| cse|
|  DK| 20| ece|
+----+---+----+

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("Ramspark").getOrCreate()

# Sample DataFrame
data = [("Thiru", 19), ("Ram", 21), ("Dhinesh", 22)]
df = spark.createDataFrame(data, ["Name", "Age"])

df.show()
df.printSchema()

+-------+---+
|   Name|Age|
+-------+---+
|  Thiru| 19|
|    Ram| 21|
|Dhinesh| 22|
+-------+---+

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("RamSpark").getOrCreate
df = spark.reaad.csv("student.csv", header=True, inferScheme=True)
df.groupBy("Department").count().show()

AttributeError: 'function' object has no attribute 'reaad'

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("RamFirstApp").getOrCreate()
print("Spark Version:", spark.version)

Spark Version: 3.5.1

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.appName("HelloRam").getOrCreate()

# Sample data
data = [("Dhinesh", 19), ("Ram", 21), ("Hari", 20)]
columns = ["Name", "Age"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show the data
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|Dhinesh| 19|
|    Ram| 21|
|   Hari| 20|
+-------+---+

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()
data = [("Ram", 21, "CSE"),
        ("Dhinesh", 19, "ECE"),
        ("Refana", 19, "CSE"),
        ("Banu", 20, "EEE")
        ]

columns = ["Name", "Age", "Department"]
df = spark.createDataFrame(data, columns)
df.show()

+-------+---+----------+
|   Name|Age|Department|
+-------+---+----------+
|    Ram| 21|       CSE|
|Dhinesh| 19|       ECE|
| Refana| 19|       CSE|
|   Banu| 20|       EEE|
+-------+---+----------+

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()
data = [("Ram", 21, "CSE"),
        ("Dhinesh", 19, "ECE"),
        ("Refana", 19, "CSE"),
        ("Banu", 20, "EEE")
        ]

columns = ["Name", "Age", "Department"]
df = spark.createDataFrame(data, columns)
df.select("Name", "Department").show()

+-------+----------+
|   Name|Department|
+-------+----------+
|    Ram|       CSE|
|Dhinesh|       ECE|
| Refana|       CSE|
|   Banu|       EEE|
+-------+----------+

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()
data = [("Ram", 21, "CSE"),
        ("Dhinesh", 19, "ECE"),
        ("Refana", 19, "CSE"),
        ("Banu", 20, "EEE")
        ]

columns = ["Name", "Age", "Department"]
df = spark.createDataFrame(data, columns)
df.filter(df["Department"] == "CSE").show()

+------+---+----------+
|  Name|Age|Department|
+------+---+----------+
|   Ram| 21|       CSE|
|Refana| 19|       CSE|
+------+---+----------+

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()
data = [("Ram", 21, "CSE"),
        ("Dhinesh", 19, "ECE"),
        ("Refana", 19, "CSE"),
        ("Banu", 20, "EEE")
        ]

columns = ["Name", "Age", "Department"]
df = spark.createDataFrame(data, columns)
df.filter(df["Department"] == "CSE").show()
df.orderBy("Age").show()

+------+---+----------+
|  Name|Age|Department|
+------+---+----------+
|   Ram| 21|       CSE|
|Refana| 19|       CSE|
+------+---+----------+

+-------+---+----------+
|   Name|Age|Department|
+-------+---+----------+
| Refana| 19|       CSE|
|Dhinesh| 19|       ECE|
|   Banu| 20|       EEE|
|    Ram| 21|       CSE|
+-------+---+----------+

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()
data = [("Ram", 21, "CSE"),
        ("Dhinesh", 19, "ECE"),
        ("Refana", 19, "CSE"),
        ("Banu", 20, "EEE")
        ]

columns = ["Name", "Age", "Department"]
df = spark.createDataFrame(data, columns)
df.filter(df["Department"] == "CSE").show()
df.orderBy("Age").show()
print("Total Rows:", df.count())
df.select("Department").distinct().show()

+------+---+----------+
|  Name|Age|Department|
+------+---+----------+
|   Ram| 21|       CSE|
|Refana| 19|       CSE|
+------+---+----------+

+-------+---+----------+
|   Name|Age|Department|
+-------+---+----------+
| Refana| 19|       CSE|
|Dhinesh| 19|       ECE|
|   Banu| 20|       EEE|
|    Ram| 21|       CSE|
+-------+---+----------+

Total Rows: 4
+----------+
|Department|
+----------+
|       ECE|
|       CSE|
|       EEE|
+----------+

In [ ]:
# Create a sample CSV file
csv_data = """Name,Age,Department
Thiru,19,CSE
Ram,21,EEE
Kavi,20,IT
Meena,22,CSE
Arun,23,MECH
"""

with open("students.csv", "w") as file:
    file.write(csv_data)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("LoadCSV data").getOrCreate()
df = spark.read.csv("/content/students.csv", header=True, inferSchema=True)
df.show()
df.printSchema()

+-----+---+----------+
| Name|Age|Department|
+-----+---+----------+
|Thiru| 19|       CSE|
|  Ram| 21|       EEE|
| Kavi| 20|        IT|
|Meena| 22|       CSE|
| Arun| 23|      MECH|
+-----+---+----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Department", StringType(), True)
])

df_manual = spark.read.csv("/content/students.csv", header=True, schema=schema)
df_manual.show()
df_manual.printSchema()

+-----+---+----------+
| Name|Age|Department|
+-----+---+----------+
|Thiru| 19|       CSE|
|  Ram| 21|       EEE|
| Kavi| 20|        IT|
|Meena| 22|       CSE|
| Arun| 23|      MECH|
+-----+---+----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Department", StringType(), True)
])

df_manual = spark.read.csv("/content/students.csv", header=True, schema=schema)
df_manual.show()
df_manual.printSchema()

+-----+---+----------+
| Name|Age|Department|
+-----+---+----------+
|Thiru| 19|       CSE|
|  Ram| 21|       EEE|
| Kavi| 20|        IT|
|Meena| 22|       CSE|
| Arun| 23|      MECH|
+-----+---+----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)